h1 {
    font-family: Superscripts-Oswald, Oswald, Roboto Condensed, Roboto,
                 Noto Sans TC, Noto Sans SC, Noto Sans JP, Noto Sans KR,
                 Prompt, sans-serif;
}

button {
    background-color: #6dcff6;
}